header {
  background: #FFDFE7;
}

header a {
  color: #FE3525;
  font-family: BigJohn;
  text-decoration: none;
  padding: 10px;
}

.header-grid {
  display: flex;
  justify-content: space-between;
  transition: left 0.3s ease-out;
  left: -100%;
}

.hamburger {
  /* padding-left: 20px;
  padding-top: 20px; */
}

.hamburgerIcon {
    width: 35px;
    height: 5px;
    background-color: #FE3525;
    margin: 6px 0;
    cursor: pointer;
    opacity: 0;
}

.hamburger-checkbox {
  display: none;
}

.hamburger-checkbox:checked + .header-grid {
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}



@media (max-width: 600px) {

  /* .hamburger {
    width: 30px;
    height: 30px;
    background-color: red;
    left: 0;
    display: block;
    cursor: pointer;
  } */

  .hamburgerIcon {
    opacity: 1;
  }

  .header-grid {
  }

}
